:local .container {
  flex: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

:local .header {
  flex: 1;
  margin-bottom: 0;
}

:local .logo  {
  width:  100px;
  height: 100px;
}
